  /* CSS for fade-in transition */
  body {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  body.fade {
    opacity: 0;
  }

  /* chang cursor to point on hover over language buttons */
  #selectEnglish:hover,
  #selectGerman:hover,
  #certifications img {
    cursor: pointer;
  }

  /* Animate card image on hover to scale up slightly in size */
  .card-img-top {
    transition: 0.2s ease;
  }

  .card-img-top:hover {
    transform: scale(1.05);
  }

  /* Cumstom styling for email tooltip in footer */
  .custom-tooltip .tooltip-inner {
    max-width: 230px;
  }

  /* Split About section into two columns on large screens */
  /* @media screen and (min-width: 992px) { */
  @media screen and (min-width: 768px) {
    #about p {
      column-count: 2;
      column-gap: 40px;
    }
  }