// Initial site fade in after loading
body {
  opacity: 1;
  transition: opacity 0.3s ease;

  &.fade {
    opacity: 0;
  }
}

// CV Accordion Override
.accordion-cv {
  --bs-accordion-active-bg: #{$charcoal};
  --bs-accordion-active-color: #{$light};
}

// Section bottom margin
#about,
#cv,
#codingprojects {
  margin-bottom: $spacer * 5;
}

// Section headers
.mainSectionHeader {
  margin-bottom: $spacer * 1;
  font-weight: 300;
}

// Add pointer to certification image cards
#certifications .card-img-top {
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

// Social media icons
#socialMedia svg {
  width: 2rem;
  height: 2rem;
}

// Email text
#email a {
  font-size: 1.25rem;
}

// Email icon
#email a svg {
  width: 1.25rem;
  height: 1.25rem;
}

// **** MEDIA QUERY ****
@media (min-width: 576px) {
  #about p {
    line-height: 2rem;
  }
  #cvTab {
    font-size: 1.25rem;
  }
  #email {
    font-weight: 100;
  }
}

@media (min-width: 768px) {
  #about p {
    column-count: 2;
    column-gap: 2.5rem;
  }

  #socialMedia svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  #email a {
    font-size: 1.5rem;
  }

  #email a svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
