// Colors
$charcoal: #233d4d;
$pumpkin: #fe7f2d;
$sunglow: #fcca46;
$olivine: #a1c181;
$zomp: #619b8a;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;

$link-color: $charcoal;
$link-hover-color: $pumpkin;

// Themes
$info: $pumpkin; // Language selector button
$success: $charcoal; // Header
$primary: $charcoal; // Accordion
$danger: $charcoal; // Download buttons
$warning: $olivine;
